# Notebook Extraction de Données

In [51]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## 1. Dossier des communes

Informations importantes:
- C'est un shapefile
- Projection: WGS84

Attributs:
- insee: 5 charactères donnant le code géographique INSEE pour la commune
- Name: nom de la commune
- wikipedia: entrée wikipedia
- surf_ha: Surface de la commune en hectares(ha)

In [4]:
gpd.read_file('../data/communes-20220101-shp/')

,insee,nom,wikipedia,surf_ha,geometry
0,2B222,Pie-d'Orezza,fr:Pie-d'Orezza,573.0,"POLYGON ((9.32017 42.38507, 9.32028 42.38510, ..."
1,2B137,Lano,fr:Lano,824.0,"POLYGON ((9.20010 42.39013, 9.20014 42.39014, ..."
2,2B051,Cambia,fr:Cambia,833.0,"POLYGON ((9.27757 42.37509, 9.27758 42.37512, ..."
3,2B106,Érone,fr:Érone,393.0,"POLYGON ((9.25119 42.37605, 9.25132 42.37603, ..."
4,2B185,Oletta,fr:Oletta,2674.0,"POLYGON ((9.28340 42.66273, 9.28345 42.66273, ..."
...,...,...,...,...,...
34950,80122,Bouquemaison,fr:Bouquemaison,724.0,"POLYGON ((2.31459 50.23489, 2.31746 50.23535, ..."
34951,62795,Sibiville,fr:Sibiville,738.0,"POLYGON ((2.30945 50.31902, 2.30969 50.31913, ..."
34952,62694,Rebreuve-sur-Canche,fr:Rebreuve-sur-Canche,842.0,"POLYGON ((2.32074 50.24767, 2.32077 50.24771, ..."
34953,62831,Troisvaux,fr:Troisvaux,620.0,"POLYGON ((2.32046 50.40520, 2.32137 50.40571, ..."
34954,62187,Buneville,fr:Buneville,384.0,"POLYGON ((2.32947 50.32125, 2.32956 50.32174, ..."

## 2. Dossier COG CSV

Chaque fichier CSV relie le code géographique INSEE à sa commune.
Liste d'explication des codes: https://www.insee.fr/fr/information/5057840.

In [5]:
folder_path = "../data/cog_ensemble_2021_csv/"

In [6]:
df_arrondissement = pd.read_csv(folder_path + "arrondissement2021.csv")
df_arrondissement.head()

,ARR,DEP,REG,CHEFLIEU,TNCC,NCC,NCCENR,LIBELLE
0,011,01,84,01034,0,BELLEY,Belley,Belley
1,012,01,84,01053,0,BOURG EN BRESSE,Bourg-en-Bresse,Bourg-en-Bresse
2,013,01,84,01173,0,GEX,Gex,Gex
3,014,01,84,01269,0,NANTUA,Nantua,Nantua
4,021,02,32,02168,0,CHATEAU THIERRY,Château-Thierry,Château-Thierry

In [7]:
df_canton = pd.read_csv(folder_path + "canton2021.csv")
df_canton.head()

,CAN,DEP,REG,COMPCT,BURCENTRAL,TNCC,NCC,NCCENR,LIBELLE,TYPECT
0,0101,01,84,1.0,01004,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,C
1,0102,01,84,1.0,01024,1,ATTIGNAT,Attignat,Attignat,C
2,0103,01,84,1.0,01033,0,VALSERHONE,Valserhône,Valserhône,C
3,0104,01,84,1.0,01034,0,BELLEY,Belley,Belley,C
4,0105,01,84,2.0,01053,0,BOURG EN BRESSE 1,Bourg-en-Bresse-1,Bourg-en-Bresse-1,C

In [8]:
df_commune = pd.read_csv(folder_path + "commune2021.csv")
df_commune.head()

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN

In [11]:
df_conseil = pd.read_csv(folder_path + "CTCD2021.csv")
df_conseil.head()

,CTCD,REG,TNCC,NCC,NCCENR,LIBELLE
0,01D,84,1,CONSEIL DEPARTEMENTAL DE L AIN,Conseil départemental de L'Ain,Conseil départemental de L'Ain
1,02D,32,1,CONSEIL DEPARTEMENTAL DE L AISNE,Conseil départemental de L'Aisne,Conseil départemental de L'Aisne
2,03D,84,1,CONSEIL DEPARTEMENTAL DE L ALLIER,Conseil départemental de L'Allier,Conseil départemental de L'Allier
3,04D,93,1,CONSEIL DEPARTEMENTAL DES ALPES DE HAUTE PROVENCE,Conseil départemental des Alpes-de-Haute-Provence,Conseil départemental des Alpes-de-Haute-Provence
4,05D,93,1,CONSEIL DEPARTEMENTAL DES HAUTES ALPES,Conseil départemental des Hautes-Alpes,Conseil départemental des Hautes-Alpes

In [12]:
df_departement = pd.read_csv(folder_path + "departement2021.csv")
df_departement.head()

,DEP,REG,CHEFLIEU,TNCC,NCC,NCCENR,LIBELLE
0,01,84,01053,5,AIN,Ain,Ain
1,02,32,02408,5,AISNE,Aisne,Aisne
2,03,84,03190,5,ALLIER,Allier,Allier
3,04,93,04070,4,ALPES DE HAUTE PROVENCE,Alpes-de-Haute-Provence,Alpes-de-Haute-Provence
4,05,93,05061,4,HAUTES ALPES,Hautes-Alpes,Hautes-Alpes

In [14]:
df_pays = pd.read_csv(folder_path + "pays2021.csv")
df_pays.head()

,COG,ACTUAL,CAPAY,CRPAY,ANI,LIBCOG,LIBENR,ANCNOM,CODEISO2,CODEISO3,CODENUM3
0,99101,1,NaN,NaN,NaN,DANEMARK,ROYAUME DU DANEMARK,NaN,DK,DNK,208.0
1,99101,3,99102,NaN,NaN,FEROE (ILES),FÉROÉ (ÎLES),NaN,FO,FRO,234.0
2,99102,1,NaN,NaN,1944.0,ISLANDE,RÉPUBLIQUE D'ISLANDE,NaN,IS,ISL,352.0
3,99103,1,NaN,NaN,NaN,NORVEGE,ROYAUME DE NORVÈGE,NaN,NO,NOR,578.0
4,99103,3,NaN,NaN,NaN,BOUVET (ILE),BOUVET (ÎLE),NaN,BV,BVT,74.0

In [16]:
df_region = pd.read_csv(folder_path + "region2021.csv")
df_region.head()

   REG CHEFLIEU  TNCC         NCC      NCCENR     LIBELLE
0    1    97105     3  GUADELOUPE  Guadeloupe  Guadeloupe
1    2    97209     3  MARTINIQUE  Martinique  Martinique
2    3    97302     3      GUYANE      Guyane      Guyane
3    4    97411     0  LA REUNION  La Réunion  La Réunion
4    6    97608     0     MAYOTTE     Mayotte     Mayotte

In [13]:
# Évènements sur les communes
df_mvtcommune = pd.read_csv(folder_path + "departement2021.csv")
df_mvtcommune.head()

,DEP,REG,CHEFLIEU,TNCC,NCC,NCCENR,LIBELLE
0,01,84,01053,5,AIN,Ain,Ain
1,02,32,02408,5,AISNE,Aisne,Aisne
2,03,84,03190,5,ALLIER,Allier,Allier
3,04,93,04070,4,ALPES DE HAUTE PROVENCE,Alpes-de-Haute-Provence,Alpes-de-Haute-Provence
4,05,93,05061,4,HAUTES ALPES,Hautes-Alpes,Hautes-Alpes

## 3. Fichier "Agreste"

Fichier CSV contenant les données départementales historiques de rendements fournis par l'Agreste.<br>
<b>Agreste</b>: marque des publications des statistiques du Ministère de l'Agriculture, de l'Agroalimentaire et de la Forêt.

In [21]:
df_agri = pd.read_csv("../data/agreste.csv")
df_agri.head()

,Unnamed: 0,n1,n2,n3,n4,n5,n6,departement,dpt,variable,value,year
0,16622,"Céréales, oléagineux, protéagineux",Céréales,Blé,Blé tendre et épeautre,Blé tendre d'hiver et épeautre,Blé tendre d'hiver et épeautre,Guadeloupe,971,Production (volume),NaN,2009
1,16626,"Céréales, oléagineux, protéagineux",Céréales,Orge et escourgeon,Orge d'hiver et escourgeon,Orge d'hiver et escourgeon,Orge d'hiver et escourgeon,Guadeloupe,971,Production (volume),NaN,2009
2,16736,"Céréales, oléagineux, protéagineux",Céréales,Blé,Blé tendre et épeautre,Blé tendre d'hiver et épeautre,Blé tendre d'hiver et épeautre,Martinique,972,Production (volume),NaN,2009
3,16740,"Céréales, oléagineux, protéagineux",Céréales,Orge et escourgeon,Orge d'hiver et escourgeon,Orge d'hiver et escourgeon,Orge d'hiver et escourgeon,Martinique,972,Production (volume),NaN,2009
4,16850,"Céréales, oléagineux, protéagineux",Céréales,Blé,Blé tendre et épeautre,Blé tendre d'hiver et épeautre,Blé tendre d'hiver et épeautre,Guyane,973,Production (volume),NaN,2009

In [49]:
df_agri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13164 entries, 0 to 13163
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   13164 non-null  int64
 1   n1           13164 non-null  object
 2   n2           13164 non-null  object
 3   n3           13164 non-null  object
 4   n4           13164 non-null  object
 5   n5           13164 non-null  object
 6   n6           13164 non-null  object
 7   departement  13164 non-null  object
 8   dpt          13164 non-null  object
 9   variable     13164 non-null  object
 10  value        12483 non-null  float64
 11  year         13164 non-null  int64
dtypes: float64(1), int64(2), object(9)
memory usage: 1.2+ MB

In [53]:
len(df_agri["Unnamed: 0"].unique())

13164

La première colonne sans nom du fichier (ici 'Unnamed: 0') est un identifiant de ligne.

In [66]:
df_agri.drop(columns=['Unnamed: 0'], inplace=True)

In [67]:
print(f"Valeurs possibles pour n1: {df_agri['n1'].unique()}")
print(f"Valeurs possibles pour n2: {df_agri['n2'].unique()}")
print(f"Valeurs possibles pour n3: {df_agri['n3'].unique()}")
print(f"Valeurs possibles pour n4: {df_agri['n4'].unique()}")
print(f"Valeurs possibles pour n5: {df_agri['n5'].unique()}")
print(f"Valeurs possibles pour n6: {df_agri['n6'].unique()}")

Valeurs possibles pour n1: ['Céréales, oléagineux, protéagineux']
Valeurs possibles pour n2: ['Céréales']
Valeurs possibles pour n3: ['Blé' 'Orge et escourgeon']
Valeurs possibles pour n4: ['Blé tendre et épeautre' "Orge d'hiver et escourgeon"]
Valeurs possibles pour n5: ["Blé tendre d'hiver et épeautre" "Orge d'hiver et escourgeon"]
Valeurs possibles pour n6: ["Blé tendre d'hiver et épeautre" "Orge d'hiver et escourgeon"]

Les lignes du document sont déjà sélectionnées pour être dans la catégorie 'Blé tendre d'hiver et épeautre' ou 'Orge d'hiver et escourgeon' comme demandé par l'étude de cas.
On peut ne garder que la catégorie 6 (ie. colonne 'n6').

In [69]:
df_agri.drop(columns=['n1', 'n2', 'n3', 'n4', 'n5'], inplace=True)

In [78]:
print(f"Nombre de valeurs dans la colonne 'departement': {len(df_agri['departement'].unique())}")
print(f"Nombre de valeurs dans la colonne 'dpt': {len(df_agri['dpt'].unique())}")

Nombre de valeurs dans la colonne 'departement': 100
Nombre de valeurs dans la colonne 'dpt': 100

In [77]:
np.sort(df_agri['dpt'].unique())

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '2A', '2B', '30', '31', '32',
       '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43',
       '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54',
       '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65',
       '66', '67', '68', '69', '70', '71', '72', '73', '74', '76', '77',
       '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88',
       '89', '90', '91', '92', '93', '94', '95', '971', '972', '973',
       '974', '976'], dtype=object)

In [81]:
# Mayotte est devenu un département français par référendum en 2011
condition = df_agri['departement'] == 'Mayotte'
df_agri[condition].sort_values(by=['year'])

,n6,departement,dpt,variable,value,year
11124,Blé tendre d'hiver et épeautre,Mayotte,976,Rendement,NaN,2000
7772,Blé tendre d'hiver et épeautre,Mayotte,976,Production (volume),NaN,2000
7773,Orge d'hiver et escourgeon,Mayotte,976,Production (volume),NaN,2000
10145,Orge d'hiver et escourgeon,Mayotte,976,Superficie développée,NaN,2000
11125,Orge d'hiver et escourgeon,Mayotte,976,Rendement,NaN,2000
...,...,...,...,...,...,...
7097,Orge d'hiver et escourgeon,Mayotte,976,Superficie développée,0.0,2020
6213,Orge d'hiver et escourgeon,Mayotte,976,Production (volume),0.0,2020
6212,Blé tendre d'hiver et épeautre,Mayotte,976,Production (volume),0.0,2020
9042,Blé tendre d'hiver et épeautre,Mayotte,976,Rendement,NaN,2020
9043,Orge d'hiver et escourgeon,Mayotte,976,Rendement,NaN,2020

In [82]:
print(f"Number of NaN values in the 'value' column: {df_agri[condition]['value'].isna().sum()}")

Number of NaN values in the 'value' column: 110

Notons qu'on observe que le département de Paris (75) n'est pas présent, qu'en revanche celui de Mayotte l'est, avec beaucoup de valeurs non renseignées (110/126).

In [94]:
condition = ((df_agri['dpt'] == '27') | (df_agri['dpt'] == '28')) & (df_agri['variable'] == 'Production (volume)')
df_agri[condition]

,n6,departement,dpt,variable,value,year
26,Blé tendre d'hiver et épeautre,Eure-et-Loir,28,Production (volume),13788375.0,2009
27,Orge d'hiver et escourgeon,Eure-et-Loir,28,Production (volume),4263792.0,2009
54,Blé tendre d'hiver et épeautre,Eure,27,Production (volume),13867672.0,2009
55,Orge d'hiver et escourgeon,Eure,27,Production (volume),2313044.0,2009
242,Blé tendre d'hiver et épeautre,Eure-et-Loir,28,Production (volume),16277994.0,2002
...,...,...,...,...,...,...
10657,Orge d'hiver et escourgeon,Eure,27,Production (volume),2506740.0,2019
11282,Blé tendre d'hiver et épeautre,Eure-et-Loir,28,Production (volume),12593764.0,2006
11283,Orge d'hiver et escourgeon,Eure-et-Loir,28,Production (volume),3282640.0,2006
11838,Blé tendre d'hiver et épeautre,Eure,27,Production (volume),11508420.0,2006
11839,Orge d'hiver et escourgeon,Eure,27,Production (volume),1637615.0,2006

In [96]:
condition = ((df_agri['dpt'] == '27') | (df_agri['dpt'] == '28')) & (df_agri['variable'] == 'Superficie développée')
df_agri[condition]

,n6,departement,dpt,variable,value,year
290,Blé tendre d'hiver et épeautre,Eure,27,Superficie développée,152392.0,2009
291,Orge d'hiver et escourgeon,Eure,27,Superficie développée,27868.0,2009
532,Blé tendre d'hiver et épeautre,Eure-et-Loir,28,Superficie développée,166125.0,2009
533,Orge d'hiver et escourgeon,Eure-et-Loir,28,Superficie développée,54664.0,2009
930,Blé tendre d'hiver et épeautre,Eure,27,Superficie développée,151000.0,2021
...,...,...,...,...,...,...
11715,Orge d'hiver et escourgeon,Eure,27,Superficie développée,30570.0,2019
12304,Blé tendre d'hiver et épeautre,Eure-et-Loir,28,Superficie développée,170186.0,2006
12305,Orge d'hiver et escourgeon,Eure-et-Loir,28,Superficie développée,44360.0,2006
12458,Blé tendre d'hiver et épeautre,Eure,27,Superficie développée,149460.0,2006
12459,Orge d'hiver et escourgeon,Eure,27,Superficie développée,23065.0,2006

In [97]:
condition = ((df_agri['dpt'] == '27') | (df_agri['dpt'] == '28')) & (df_agri['variable'] == 'Rendement')
df_agri[condition]

,n6,departement,dpt,variable,value,year
696,Blé tendre d'hiver et épeautre,Eure-et-Loir,28,Rendement,83.0,2009
697,Orge d'hiver et escourgeon,Eure-et-Loir,28,Rendement,78.0,2009
886,Blé tendre d'hiver et épeautre,Eure,27,Rendement,91.0,2009
887,Orge d'hiver et escourgeon,Eure,27,Rendement,83.0,2009
1118,Blé tendre d'hiver et épeautre,Eure,27,Rendement,82.0,2021
...,...,...,...,...,...,...
12515,Orge d'hiver et escourgeon,Eure,27,Rendement,82.0,2019
12990,Blé tendre d'hiver et épeautre,Eure-et-Loir,28,Rendement,74.0,2006
12991,Orge d'hiver et escourgeon,Eure-et-Loir,28,Rendement,74.0,2006
13036,Blé tendre d'hiver et épeautre,Eure,27,Rendement,77.0,2006
13037,Orge d'hiver et escourgeon,Eure,27,Rendement,71.0,2006

In [83]:
df_agri['variable'].unique()

array(['Production (volume)', 'Superficie développée', 'Rendement'],
      dtype=object)

- Production (volume): volume de production en millions de tonnes (en tout cas a priori cohérent avec le volume total annuel de la France qui est de l'ordre de plusieurs dizaines de millions de tonnes)
- Superficie développée: superficie en ha
- Rendement: en q/ha (1 q = 1 quintal = 100 kg)

In [92]:
print(f"Number of NaN values in the 'value' column over {len(df_agri)} rows: {df_agri['value'].isna().sum()} (i.e. {df_agri['value'].isna().sum()*100/len(df_agri): .2f}%)")

Number of NaN values in the 'value' column over 13164 rows: 681 (i.e.  5.17%)

In [98]:
condition = (df_agri['dpt'] == '27') | (df_agri['dpt'] == '28')
print(f"Number of NaN values in the 'value' column over {len(df_agri[condition])} rows (only 27 and 28 dpt): {df_agri[condition]['value'].isna().sum()} (i.e. {df_agri[condition]['value'].isna().sum()*100/len(df_agri[condition]): .2f}%)")

Number of NaN values in the 'value' column over 264 rows (only 27 and 28 dpt): 0 (i.e.  0.00%)

In [45]:
year_counts = df_agri['year'].value_counts().sort_index()

# On analyse les données de 2000 à 2020 (on exclu en particulier l'année 2021 présente dans le dataframe)
for year in range(2000, 2021):
    count = year_counts.get(year, 0)
    print(f"Number of rows for the year {year}: {count}")

Number of rows for the year 2000: 600
Number of rows for the year 2001: 600
Number of rows for the year 2002: 600
Number of rows for the year 2003: 600
Number of rows for the year 2004: 600
Number of rows for the year 2005: 600
Number of rows for the year 2006: 600
Number of rows for the year 2007: 600
Number of rows for the year 2008: 600
Number of rows for the year 2009: 600
Number of rows for the year 2010: 600
Number of rows for the year 2011: 600
Number of rows for the year 2012: 600
Number of rows for the year 2013: 600
Number of rows for the year 2014: 600
Number of rows for the year 2015: 600
Number of rows for the year 2016: 600
Number of rows for the year 2017: 600
Number of rows for the year 2018: 600
Number of rows for the year 2019: 600
Number of rows for the year 2020: 600

## 4. Fichier ERA5

Nomenclature:
- <b>precipitation</b>: précipitation journalière en mm
- <b>r_min</b>: humidité relative minimum en %
- <b>ssrd_mean</b>: radiation solaire moyenne en W/m2
- <b>min, Tavg, Tmax</b>: Température mini, moyenne & maximale journalière en °C
- <b>ws10_mean</b>: vitesse du vent journalière moyenne en m/s

In [19]:
df_era = pd.read_parquet("../data/ERA5_data.parquet")
df_era.head()

                               precipitation      r_min  ssrd_mean       Tmax  \
latitude longitude date
50.0     0.00      2000-01-01       2.215229  93.606369  15.191685  10.244385
         0.25      2000-01-01       1.814224  94.213966  13.938815  10.010773
         0.50      2000-01-01       1.939010  95.543106  12.517365   9.940033
         0.75      2000-01-01       1.156174  96.576569  11.264488  10.018982
         1.00      2000-01-01       0.735961  95.136223  10.406863   9.834747

                                   Tavg      Tmin  ws10_mean
latitude longitude date
50.0     0.00      2000-01-01  9.957440  9.599487   4.637896
         0.25      2000-01-01  9.800465  9.500763   4.063644
         0.50      2000-01-01  9.678520  9.181610   4.062956
         0.75      2000-01-01  9.560416  8.507111   3.571555
         1.00      2000-01-01  9.182507  7.840820   3.160075

In [100]:
df_era.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1096953 entries, (50.0, 0.0, Timestamp('2000-01-01 00:00:00')) to (47.0, 2.5, Timestamp('2020-12-31 00:00:00'))
Data columns (total 7 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   precipitation  1096953 non-null  float32
 1   r_min          1096953 non-null  float32
 2   ssrd_mean      1096953 non-null  float32
 3   Tmax           1096953 non-null  float32
 4   Tavg           1096953 non-null  float32
 5   Tmin           1096953 non-null  float32
 6   ws10_mean      1096953 non-null  float32
dtypes: float32(7)
memory usage: 33.8 MB

In [110]:
df_era.loc[(50.0, 0.00)]

/Users/francoismoreau/anaconda3/envs/geo_data/lib/python3.7/site-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

,precipitation,r_min,ssrd_mean,Tmax,Tavg,Tmin,ws10_mean
date,,,,,,,
2000-01-01,2.215229,93.606369,15.191685,10.244385,9.957440,9.599487,4.637896
2000-01-02,1.156174,87.825989,35.443100,10.497742,9.926867,9.520508,5.964029
2000-01-03,1.696907,83.117058,13.942907,10.361176,10.011867,9.564941,11.236466
2000-01-04,15.346352,63.177330,25.595217,10.415466,10.021740,9.407013,9.536477
2000-01-05,0.250701,71.407112,39.376846,10.352966,9.214864,8.089233,9.978786
...,...,...,...,...,...,...,...
2020-12-27,33.063126,65.216599,15.336519,10.442261,9.019184,7.107971,13.728764
2020-12-28,10.509428,61.310783,20.849529,7.867737,7.082502,6.396118,7.586990
2020-12-29,3.994576,63.113033,23.965031,7.152679,6.161810,4.999512,6.381451
2020-12-30,9.163209,63.456993,35.910851,7.516571,6.606195,4.426514,6.707294
2020-12-31,1.449536,65.156906,49.381897,6.110413,5.426402,4.710602,6.298218